.Footer{
  background-color: #1C274C;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  h3, a{
  color:#ffffffba;

  }
  h3{
    font-size: 28px;
    margin-bottom: 10px;
  }
  ul li{
    font-size: 20px;
  }
}